*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header{
    background-color: lightblue;
    width: 100%;
}

/* html{
    font-size: 62.5%;

} */

.section-principal{
    background-color: lightcoral;
    font-size: 40px;
    background-image: url("../assets/premium_photo-1680127401632-dcc0f571d4b9.avif");
    width: 100%;
    height: 31.25rem;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    
}


.section-principal h1{
    text-align: center;
    font-size: 0.5em;
}

.section-boton button{
    background-color: rgb(90, 90, 186);
    color: white;
    /* padding: 40px; */
    /* padding-top: 30px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 5px; */
    /* padding: 40px 0px; */
    padding: 20px 10px 0px 30px;
    border: 3px solid chocolate;
    /* border-style: double;
    border-width: 4px;
    border-color: blue; */
    border-top: 2px solid red;
    margin: 40px;
}



/*
1 rem = 10px

1rem = 16px
2 rem = 32px
5 rem 

16px -- 100%
10px -- ?  62.5%
*/

/** tipos de medidas

medidas absolutas = nos dicen que esa medida no cambia o no se modifica dependiendo del tipo de pantalla donde se abre.

px = 200px 

medidas relativas = nos sirven para mejorar y facilitar el responsive de nuestro sitio web

% = porcentaje  se usa mas contenedores

REM =  se suele utilizar para las fuentes. 

EM= 
**/

/*box modeling








**/

.card{
    width: 21.875rem;
    height:  21.875rem;
    
    margin: 40px;
    border-radius:50%;
    overflow: hidden;
    box-shadow: 2px 2px 5px grey;
    text-align: center;
}
.card div{
    width: 100%;
    height: 18.75rem;
    object-fit: cover;
    
}

.card div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}