*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container{
    display: grid;
    width: 100%;
    height:100vh;
    grid-template-columns:repeat(4,300px); /*son 12*/
    grid-template-rows: repeat(3,12.5rem); /**se pueden creear la cantidad que sea necesaria**/
    grid-template-areas: 
    "item1 item1 item1 item1"
    "item2 item5 pepito item4"
    "item2 item5 pepito item6"
    ;
    justify-content: center;
    align-content: center;
    row-gap: 1.25rem;
    column-gap: .625rem;
    /* justify-items: end;
    align-items: end ; */

    /**
    declarar display
    despues se declaran los altos y anchos del contenedor
    despues lo que se declara son los movimientos

    por ultimo los estilos personales
    background
    color

    */
}

.item1{
    background-color: antiquewhite;
    grid-area: item1;
    justify-self: start ;
    align-self: end;
}
.item2{
    background-color: rgb(51, 219, 152);
    grid-area: item2;
}
.item3{
    background-color: rgb(201, 251, 51);
    grid-area: pepito;
}
.item4{
    background-color: rgb(65, 197, 206);
    grid-area: item4;
}
.item5{
    background-color: rgb(158, 85, 241);
    grid-area: item5;
}
.item6{
    background-color: rgb(242, 55, 117);
    grid-area: item6;
    width: 50%;
}






